body {
  position: absolute;
  width: 1280px;
  height: 720px;
  left: 0px;
  top: 716px;
  background: #2e2f36;
}

.aboutbg {
  position: absolute;
  width: 588.59px;
  height: 165.55px;
  left: 9.68px;
  top: 716px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 144px;
  line-height: 169px;
  color: rgba(255, 255, 255, 0.05);
}

.aboutfr {
  position: absolute;
  width: 196.2px;
  height: 54.86px;
  left: 49px;
  top: 778px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #eeeeee;
}

.abtop {
  position: absolute;
  width: 945px;
  height: 0px;
  left: 284px;
  top: 800px;
  background-color: #eeeeee;
  border: 3px solid #eeeeee;
}

.aboutimg {
  position: absolute;
  width: 616px;
  height: 434px;
  left: -33px;
  top: 859px;
}

.abrect1 {
  position: absolute;
  width: 482px;
  height: 340px;
  left: 747px;
  top: 913px;
  background: #faab4f;
  border-radius: 33px;
}

.abrect2 {
  position: absolute;
  width: 482px;
  height: 340px;
  left: 719px;
  top: 941px;
  background: #1c6b97;
  border-radius: 33px;
}

.abtext {
  position: absolute;
  width: 415px;
  height: 215px;
  left: 738px;
  top: 997px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  color: #dddfdf;
}

.abbottom {
  position: absolute;
  width: 728px;
  height: 0px;
  left: 777px;
  top: 1345px;
  border: 3px solid #eeeeee;
  background-color: #eeeeee;
}

.abellipse1 {
  position: absolute;
  width: 420.71px;
  height: 407.51px;
  left: -119px;
  top: 1028.49px;
  background: rgba(62, 139, 255, 0.1);
  border-radius: 50%;
  z-index: -1;
}

.abellipse2 {
  position: absolute;
  width: 455.1px;
  height: 440.82px;
  left: 943.9px;
  top: 740.49px;
  background: rgba(226, 53, 105, 0.1);
  border-radius: 50%;
  z-index: -1;
}
